<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block body %}

    <main class="col-xs-12">
        <header class="col-xs-12">
            <div>
                <a href="/">
                <img src="https://media.discordapp.net/attachments/425285814352609280/427771591800389634/Fichier_4.png" alt="logo"></a>
            </div>
            <ul>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="/inscription">inscription</a></li>
                <li> <a href="/connexion">connexion</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <li><a href="/profil">{{ user.login }}</a> </li>
                <li><a href="/deconnexion">deconnexion</a></li>
                <li><a href="/lobby">Mon lobby</a></li>
            </ul>
            {% endif %}



        </header>
        <section class="col-xs-12 titre">
            <div class="col-xs-12">
                <img src="" alt="">
                <h2>Roll and Play</h2>
                <h3>Le plaisir du jeux de rôles en ligne</h3>
            </div>
        </section>
        <section class="col-xs-12 presentation">
            <div class="col-sm-6 presentation-img">
                <div>
                <img src="{{ asset('assets/img/aventurier.jpg') }}" alt="recrutez des aventuriez"/>
                </div>
            </div>
            <div class="col-sm-6 presentation-texte">
                <div>
                <h3>Recrutez des aventuriez ! </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur fringilla dolor ac blandit. Duis auctor dolor ut sapien rutrum, ac elementum mi congue. Aenean commodo pretium odio ac fermentum. In laoreet convallis magna faucibus aliquet. Nam massa nulla, eleifend vestibulum ante quis, porttitor gravida sem. Nulla non nibh nec eros sagittis euismod interdum quis augue. Donec sed suscipit libero. Ut mattis augue tortor, iaculis imperdiet lectus pellentesque vel. Sed tincidunt pulvinar diam eget consectetur. Duis sodales pulvinar lobortis. Sed malesuada in neque vitae mattis. Donec blandit volutpat finibus. Aliquam vitae tortor vel nunc consectetur placerat eget sit amet mi. Sed id velit felis. Phasellus placerat semper libero. Integer placerat ligula ullamcorper varius porttitor. </p>
                </div>
            </div>
        </section>
        <section class="col-xs-12 presentation">
            <div class="col-sm-6 presentation-texte">
                <div>
                    <h3>Recrutez des aventuriez ! </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur fringilla dolor ac blandit. Duis auctor dolor ut sapien rutrum, ac elementum mi congue. Aenean commodo pretium odio ac fermentum. In laoreet convallis magna faucibus aliquet. Nam massa nulla, eleifend vestibulum ante quis, porttitor gravida sem. Nulla non nibh nec eros sagittis euismod interdum quis augue. Donec sed suscipit libero. Ut mattis augue tortor, iaculis imperdiet lectus pellentesque vel. Sed tincidunt pulvinar diam eget consectetur. Duis sodales pulvinar lobortis. Sed malesuada in neque vitae mattis. Donec blandit volutpat finibus. Aliquam vitae tortor vel nunc consectetur placerat eget sit amet mi. Sed id velit felis. Phasellus placerat semper libero. Integer placerat ligula ullamcorper varius porttitor. </p>
                </div>
            </div>
            <div class="col-sm-6 presentation-img">
                <img src="{{ asset('assets/img/fanta.jpg') }}" alt="choisissez un unvivers">
            </div>
        </section>
        <section class="col-xs-12 presentation">
            <div class="col-sm-6 presentation-img">
                <div>
                <img src="{{ asset('images/partez.png') }}" alt="partez a l'aventure" />
                    </div>
            </div>
            <div class="col-sm-6 presentation-texte">
                <div>
                    <h3>Recrutez des aventuriez ! </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur fringilla dolor ac blandit. Duis auctor dolor ut sapien rutrum, ac elementum mi congue. Aenean commodo pretium odio ac fermentum. In laoreet convallis magna faucibus aliquet. Nam massa nulla, eleifend vestibulum ante quis, porttitor gravida sem. Nulla non nibh nec eros sagittis euismod interdum quis augue. Donec sed suscipit libero. Ut mattis augue tortor, iaculis imperdiet lectus pellentesque vel. Sed tincidunt pulvinar diam eget consectetur. Duis sodales pulvinar lobortis. Sed malesuada in neque vitae mattis. Donec blandit volutpat finibus. Aliquam vitae tortor vel nunc consectetur placerat eget sit amet mi. Sed id velit felis. Phasellus placerat semper libero. Integer placerat ligula ullamcorper varius porttitor. </p>
                </div>
            </div>

        </section>
        <section class="col-xs-12">
            <div class="container">
                {% for actu in actualites  %}


                    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover col-sm-3" style="width: 360px; overflow: hidden; border-radius: 1px;height: 500px;">
                        <img src="images/{{ actu.featuredimage }}" alt="Man with backpack"
                             class="d-block w-full">
                        <img src="{{ actu.featuredimage }}" alt="">

                        <div class="px-2 py-2">


                            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                                {{ actu.titre }}
                            </h1>

                            <p class="mb-1">
                                {{ actu.contenu }}
                            </p>

                        </div>

                        <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                            Read More
                        </a>



                    </div>


                {% endfor %}

            </div>

        </section>
        <footer class="col-xs-12">
            <p>Copyright - NFatorySchool - ce site a ete crée dans le cadre d'un exercice </p>
        </footer>
    </main>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
